{%extends "homeTemplate.html"%}
{% block title %}Low Supply Schedules{% endblock %}


{%block pageContent%}
<div class="overflow-x-auto h-fit min-h-screen rounded-sm bg-gray-50 dark:bg-gray-800 p-4 mb-4 max-w-2xl mx-auto">
    <div class="text-lg font-semibold text-blue-700 dark:text-blue-400 text-center mb-2">
        Patients' Schedules With Low Supply
    </div>
    <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead class="bg-blue-700 dark:bg-blue-900">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                    Patient Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                    Pill Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                    End Date
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                    Days Remaining
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
            {% for patient,schedule, daysLeft in schedules %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 dark:text-gray-100">
                    <a href="{{url_for('main.schedule', patient_id=patient.patientID)}}">{{ patient.firstName }} {{
                        patient.lastName }}</a>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                    {{schedule.pill.name}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                    {{ schedule.endDate }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                    {{schedule.remainingQty}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 dark:text-gray-300">
                    {{ daysLeft if daysLeft >= 0 else "Ended {} {}".format(-days, "day ago" if days == -1 else "days
                    ago") }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{%endblock%}