{%extends "homeTemplate.html"%}
{% block title %}Schedules{% endblock %}
{%block pageContent%}

{% if session['breadcrumbs'] %}
<nav aria-label="breadcrumb" class="my-4">
    <ol class="breadcrumb flex text-lg text-gray-600 dark:text-gray-300">
        {% for crumb in session['breadcrumbs'] %}
        <li class="breadcrumb-item inline">
            <a href="{{ crumb.url }}" class="hover:underline"> {{ crumb.name }} </a>
            {% if not loop.last %}
            <span class="mx-2 text-gray-400 dark:text-gray-500"> &gt;&nbsp </span>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}
<div class="flex flex-col min-h-screen h-fit items-center pt-20 h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white text-center mb-6">{{patient.firstName|capitalize}}'s
        Schedules</h1>
    <br> <br>
    <div class="flex flex-col gap-4 ">
        <!-- Header Row -->
        <div
            class="grid gap-x-6 grid-cols-[2fr_0.5fr_1fr_1fr_0.5fr_0.5fr] md:grid-cols-[1fr_0.5fr_1fr_1fr_0.5fr_0.5fr] text-center text-blue-600 items-center px-4  font-semibold">
            <div>Pill</div>
            <div>Disk</div>
            <div>Container Nb</div>
            <div>End Date</div>
            <div>Qty</div>
        </div>

        <!-- Patient Rows -->
        <div>

        </div>
        {% for schedule in schedules %}
        <div>
            <div
                class="grid gap-x-6 grid-cols-[2fr_0.5fr_1fr_1fr_0.5fr_0.5fr] md:grid-cols-[1fr_0.5fr_1fr_1fr_0.5fr_0.5fr] text-center items-center p-4 border border-gray-300 rounded-lg bg-gray-100">
                <div class="text-md font-semibold">
                    <a
                        href="{{ url_for('main.editSchedule', schedule_id=schedule.scheduleID) }}">{{schedule.pill.name}}</a>
                </div>
                <div class="text-md text-gray-600">{{ schedule.pill.shape[0]|capitalize}}{{ schedule.pill.size}}</div>
                <div class="text-md text-gray-600">{{ schedule.containerNb}}</div>
                <div class="text-md text-gray-600">{{ schedule.endDate }}</div>
                <div class="text-md text-gray-600">{{ schedule.remainingQty}}</div>
                <div class="flex items-center justify-center">
                    <form action="{{ url_for('main.deleteSchedule', schedule_id=schedule.scheduleID) }}" method="post">
                        <button type="submit" class="text-white bg-red-500 hover:bg-red-700 rounded-md p-2">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>
        {% endfor %}


        <div class="flex gap-x-4 justify-center mt-6">
            {% if freeContainer != -1 %}
            <!-- Add New Schedule Button (Enabled) -->
            <a href="{{ url_for('main.createSchedule', patient_id=patient.patientID) }}"
                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                Add New Schedule
            </a>
            {% else %}
            <!-- Disabled Button with Tooltip -->
            <div class="relative group">
                <button disabled class="px-4 py-2 bg-gray-400 text-white rounded-md cursor-not-allowed"
                    aria-disabled="true">
                    Add New Schedule
                </button>
                <!-- Tooltip -->
                <div
                    class="absolute left-1/2 transform -translate-x-1/2 mt-2 w-64 p-2 bg-gray-700 text-white text-sm rounded-md opacity-0 group-hover:opacity-100 transition-opacity">
                    There are no unused containers. Make sure to delete another schedule before creating a new one.
                </div>
            </div>
            {% endif %}

            <!-- View Calendar -->
            <a href="{{ url_for('main.viewCalendar', patient_id=patient.patientID) }}"
                class="px-4 py-2 text-blue-700 rounded-md hover:text-blue-400 bg-gray-200 hover:bg-gray-300 hover:text-blue-100">
                View Calendar
            </a>
        </div>


    </div>


</div>

{%endblock%}