{%extends "homeTemplate.html"%}
{% block title %}Schedules{% endblock %}
{%block pageContent%}

<div class="flex flex-col h-screen items-center pt-20 h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white text-center mb-6">{{patient.firstName|capitalize}}'s
        Schedules</h1>
    <br> <br>
    <div class="flex flex-col gap-4 ">
        <!-- Header Row -->
        <div
            class="grid gap-x-6 grid-cols-[1fr_1fr_1fr_0.5fr] text-center text-blue-600 items-center px-4  font-semibold">
            <div>Pill</div>
            <div>Start Date</div>
            <div>End Date</div>
            <div>Qty</div>
        </div>

        <!-- Patient Rows -->
        {% for schedule in schedules %}
        <div
            class="grid gap-x-6 grid-cols-[1fr_1fr_1fr_0.5fr] text-center items-center p-4 border border-gray-300 rounded-lg bg-gray-100">
            <div class="text-md font-semibold">
                <a href="{{ url_for('main.editSchedule', schedule_id=schedule.scheduleID) }}">{{schedule.pill.name}}</a>
            </div>
            <div class="text-md text-gray-600">{{ schedule.startDate}}</div>
            <div class="text-md text-gray-600">{{ schedule.endDate }}</div>
            <div class="text-md text-gray-600">{{ schedule.remainingQty}}</div>
        </div>
        {% endfor %}
        <!-- Add New Schedule Button -->
        <div class="flex justify-center mt-6">
            <a href="{{ url_for('main.createSchedule', patient_id=patient.patientID) }}"
                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                Add New Schedule
            </a>
        </div>
    </div>


</div>

{%endblock%}