{%extends "homeTemplate.html"%}
{% block title %}View Patients{% endblock %}
{%block pageContent%}

<div class="flex flex-col min-h-screen h-fit items-center pt-20 h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white text-center mb-6">List of Your Patients</h1>
    <br> <br>
    <div class="flex flex-col gap-4 ">
        <!-- Header Row -->
        <div class="grid gap-x-18 grid-cols-[1.5fr_1fr_1fr] text-center text-blue-600 items-center px-4  font-semibold">
            <div>Name</div>
            <div>Emergency Contact</div>
            <div>Patient ID</div>
        </div>

        <!-- Patient Rows -->
        {% for patient in patients %}
        <div
            class="grid gap-x-18 grid-cols-[1.5fr_1fr_1fr] text-center items-center p-4 border border-gray-300 rounded-lg bg-gray-100">
            <div class="text-lg font-semibold">
                <a href="{{ url_for('main.schedule', patient_id=patient.patientID) }}">{{ patient.firstName|capitalize
                    }} {{ patient.lastName|capitalize
                    }}</a>
            </div>
            <div class="text-md text-gray-600">{{ patient.emergencyContactNb }}</div>
            <div class="text-md text-gray-600">{{ patient.patientID }}</div>
        </div>
        {% endfor %}
    </div>


</div>

{%endblock%}