{%extends "homeTemplate.html"%}
{% block title %}View Patients{% endblock %}
{%block pageContent%}

<div class="flex flex-col h-screen items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-white text-center mb-6">List of Your Patients</h1>

    <div class="flex flex-col gap-4">

        {% for patient in patients %}
        <div class="flex items-center gap-x-8 justify-between p-4 border border-gray-300 rounded-lg bg-gray-100 w-full">
            <!-- Name on the left -->
            <p class="text-lg font-semibold">{{ patient.firstName|capitalize }} {{ patient.lastName|capitalize }}</p>

            <!-- Contact number in the middle -->
            <p class="text-md text-gray-600">{{ patient.emergencyContactNb }}</p>

            <!-- ID on the right -->
            <p class="text-md text-gray-600">{{ patient.patientID }}</p>
        </div>
        {% endfor %}
    </div>


</div>

{%endblock%}